{% set bodyClass = 'home' %}


{% extends "default/_layouts/site" %}

{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}

{% block main %}

{# Description #}
<div class="grid-x grid-padding-x grid-padding-y">
  <div class="small-12 medium-8 cell text-left">
    <h2>{{seo.seoDescription}}</h2>
  </div>
</div>
{# End Description #}

{# Sites #}
<div class="grid-x grid-padding-x grid-padding-y">
  {% for site in sites %}
    <div class="small-12 medium-6 large-4 cell">

        {% set image = site.image.one() %}
        <div class="grid-x grid-padding-x">
          <div class="small-12 medium-12 cell">
            <div class="light-gray-background-color site__image">
              <div class="image--1920-1200" {% if image %}data-interchange="{% include "_includes/images/contained/1920-1200/interchange-img-small-12-medium-4" %}" data-aos="fade-in" data-aos-delay="100"{% endif %}>
              
                <div class="content grid-y align-center">
                  <div class="shrink cell padding-1 text-center site__links white">
          
                  <ul class="menu align-center">
                    <li><a href="{{site.url}}">Details</a></li>
                    <li><a href="{{site.domain}}" target="_blank" rel="noopener">Link</a></li>
                  </ul>
          
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="grid-x grid-padding-x margin-top-1">
          <div class="small-12 medium-auto cell">
          {{ site.title }}
          </div>
          <div class="small-12 medium-shrink cell text-left medium-text-right medium-gray">
          <small>{{ site.postDate | date("M d — Y") }}</small>
          </div>
        </div>
    </div>
  {% endfor %}
</div>
<!-- End sites -->

{% endblock %}

{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}

